/build/
/cmake-build-debug/
/JUCE/
build/CMakeFiles/Gooper.dir/compiler_depend.internal
build/CMakeFiles/Gooper.dir/compiler_depend.make
build/CMakeFiles/Gooper_AU.dir/compiler_depend.make
build/CMakeFiles/Gooper_Standalone.dir/compiler_depend.make
build/CMakeFiles/Gooper_VST3.dir/compiler_depend.make
build/CMakeFiles/juce_vst3_helper.dir/compiler_depend.make
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/Testing/Temporary/LastTest.log
.idea/editor.xml
.idea/Gooper.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
JUCE
JUCE
